<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">

        <div class="top-part">
            <h1>My Favourite Albums of All Times</h1>
            
            <select name="" id="" v-model="searchGenre" @click="fetchData()">
                <option value="" disabled selected>Scegli un genere</option>
                <option value="">Tutti i generi</option>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="jazz">Jazz</option>
                <option value="metal">Metal</option>
            </select>
    
        </div>

        <div class="container flex">
            <div v-for="card in discs" class='flex flex-column album'>
                <img :src="card.poster" alt="">
                <h2>{{card.title}}</h2>
                <p><strong>Artist:</strong> {{card.author}}</p>
                <p><strong>Genre:</strong> {{card.genre}}</p>
                <p><strong>Year:</strong> {{card.year}}</p>
            </div>
        </div>

        <div style="text-align: center; margin-top: 20px;"> 
            <button v-if="page > 1" @click="firstPage()">First</button>
            <button v-if="page > 1" @click="pageMinus()">Prev</button>
            <span>Page {{page}}</span>
            <button v-if="page < totalPageNumbers" @click="pagePlus()">Next</button>
            <button v-if="page < totalPageNumbers" @click="lastPage()">Last</button>
        </div>
        
        
    </div>


<script src="vue.js"></script>
</body>
</html>